<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/checkout.js"></script>
    <link rel="stylesheet" href="css/checkout.css">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
</head>

<body>
    <header>
        <h1><a href="/">你好健身房</a></h1>
        <nav>
            <ul id="menuItems">
                <li><a href="/ShoppingCartPage">我的購物車</a></li>
                <li><a href="/LoginPage">商品後台管理</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <table width="800px">
                <tr class="head-tr">
                    <th class="col-i">商品圖片</th>
                    <th class="col-n">商品名稱</th>
                    <th class="col-p">商品價格</th>
                    <th class="col-q">數量</th>
                </tr>
                <% if (products.length> 0) { %>
                    <% for(var i=0; i < products.length; i++) { %>
                        <tr>
                            <td><img src="<%= products[i].src %>" alt=""></td>
                            <td>
                                <%= products[i].name %>
                            </td>
                            <td>
                                <%= products[i].unit_price %>
                            </td>
                            <td>
                                <%= products[i].quantity %>
                            </td>
                        </tr>
                    <% } %>
                    <tr>
                        <td colspan="4" class="total-price">總金額:
                            <span id="total-price"><%= totalPrice %></span>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
        <div style="width: 600px; text-align: right; margin-top: 10px;">
            <button onclick="sendOrder()">提交訂單</button>
        </div>
    </main>
</body>

</html>