<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>你好健身房</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/script.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
</head>

<body>
    <header>
        <button onclick="toggleMenu()" class="menu">&#9776;</button>
        <h1><a href="#">你好健身房</a></h1>
        <nav>
            <ul id="menuItems">
                <li><a href="/ShoppingCartPage">購物車</a></li>
                <li><a href="/LoginPage">後台管理</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="news">
            <h2>想成為肌肉壯漢嗎?</h2>
            <p>每一次鍛煉都是對自己的投資</p>
            <p><a href="#product">瞭解更多</a></p>
        </section>

        <section class="slogan">
            <blockquote>" 超越極限，創造自己 "<br>" 磨練身體，煉鍊意志 "</blockquote>
        </section>

        <section class="shop">
            <img src="images/stupid.png" alt="烘焙工坊內部圖" style="height: 600px;">
            <div class="info">
                <h2>6 / 17 你好健身房隆重開張！</h2>
                <p>明亮的燈光，放鬆的音樂，配上堅持的你<br>
                    開店當天若購買課程享有免費上課一年的福利呦!!</p>
            </div>
        </section>

        <section class="product" id="product">
            <% for (var i=0; i < products.length; i ++) { %>
                <div onclick="toItemPage(this)">
                    <img src="uploads/<%= products[i].file_src %>">
                    <h3><%= products[i].name %></h3>
                    <!-- <p><%= products[i].discription %></p> -->
                    <h4>NT$ <%= products[i].price %></h4>
                    <button onclick="addToShoppingCart(this, event)" data-image="uploads/<%= products[i].file_src %>"
                        data-name="<%= products[i].name %>" data-price="<%= products[i].price %>">Add To
                        Cart</button>
                </div>
            <% } %>
        </section>
        <section class="newsletter">
            <p>歡迎訂閱健身電子報，可不定期收到限定優惠喔！</p>
        </section>
    </main>
    <footer>
        <p>Copyright © 2024 你好健身房 All Rights Reserved.</p>
    </footer>

</body>
</html>